*{ margin: 0;
 padding: 0;
 font-family: Century gothic; }
header{ background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/back2.jpg);
 height: 100vh;
 background-size: cover;
 background-position: center; }
ul{
float: right;
list-style-type: none;
margin-top: 25px;
}
ul li{
display: inline-block;
}
ul li a{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
}
ul li a:hover{
background-color: #fff;
color: #000;
}
ul li.active a{
background-color: #fff;
color: #000;
}
.logo img{
float: left;
width: 120px;
height: auto;
}
.main{
max-width: 1200px;
margin: auto;
}
.tab{
text-decoration: none;
padding: 10px 30px;
border: 1px solid transparent;
transition: 0.6s ease;
background-color: #fff;
color: #000;
}
.eintro{
position: absolute;
top: 17%;
left: 43%;
transform: translate(-50%,-50%);
}
.eintro p{
color: #fff;
font-size: 19px
}
.epic{
position: absolute;
top: 19%;
left: 90%;
transform: translate(-50%,-50%);
}
.ebutton1{
position: absolute;
top: 27%;
left: 36%;
transform: translate(-50%,-50%);
}
.ebutton2{
position: absolute;
top: 34.5%;
left: 36%;
transform: translate(-50%,-50%);
}
.ebutton3{
position: absolute;
top: 42%;
left: 36%;
transform: translate(-50%,-50%);
}
.ebut{
border: 0.5px solid #fff;
padding: 10px 30px;
color: #fff;
text-decoration: none;
transition: 0.6s ease;
}
.ebut:hover{
background-color: #fff;
color: #000;
}
.ebutton4{
position: absolute;
top: 49.5%;
left: 36%;
transform: translate(-50%,-50%);
}
.ebutton5{
position: absolute;
top: 57%;
left: 36%;
transform: translate(-50%,-50%);
}
